# Day 3
What teams in 2020 performed the worst at home? I solved this by averaging the away team's points for the 8 home games each NFL team played that season.

## Set Up

In [1]:
import pandas as pd
from os import path
import sqlite3
import nfl_data_py as nfl


# Create database connection
conn = sqlite3.connect('../data/db/database.db')

In [2]:
query = """
WITH data AS (
    SELECT
        game_id,
        season,
        away_score,
        home_team,
        home_score 
    FROM schedules
    WHERE season = 2020
        AND game_type = 'REG'
), rankings AS (
    SELECT
        home_team AS team,
        AVG(away_score) AS avg_pa_at_home,
        DENSE_RANK() OVER(ORDER BY AVG(away_score) ASC) AS best_to_worst,
        DENSE_RANK() OVER(ORDER BY AVG(away_score) DESC) AS worst_to_best
    FROM
        data
    GROUP BY
        home_team
), top3 AS (
    SELECT
        team,
        ROUND(avg_pa_at_home,2) AS avg_pa_at_home
    FROM rankings
    ORDER BY best_to_worst
    LIMIT 3
), bottom3 AS (
    SELECT
        team,
        ROUND(avg_pa_at_home,2) AS avg_pa_at_home
    FROM rankings
    ORDER BY worst_to_best ASC
    LIMIT 3
)
SELECT *
FROM bottom3
"""

pd.read_sql(query, conn)

  team  avg_pa_at_home
0  DET           35.75
1  DAL           34.38
2  MIN           31.13